.vscode

#---------- Server side -------------------------------------------
server/.env
server/node_modules
murdoku-pin-bot-finalizado

#---------- Client side -------------------------------------------